/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  /* Style général pour les boutons */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Bouton recherche */
button.search {
  background-color: #4CAF50; /* Vert */
  color: white;
}

button.search:hover {
  background-color: #45a049; /* Vert foncé */
}

/* Bouton clear */
button.clear {
  background-color: #f44336; /* Rouge */
  color: white;
}

button.clear:hover {
  background-color: #da190b; /* Rouge foncé */
}

/* Style général pour la zone de recherche */
input.search-input {
  width: 100%;
  max-width: 200px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Effet au focus */
input.search-input:focus {
  border-color: #4CAF50; /* Vert */
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
  outline: none;
}